<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>商品列表</h1>
    <a href="https://www.vmall.com/product/comdetail/index.html?prdId=10086364337052&sbomCode=2601010577105" target="_blank">
        <img src="/static/a1.png" style="width: 150px"/>
    </a>

    <a href="https://www.vmall.com/product/comdetail/index.html?prdId=10086839537149&sbomCode=2601010567401" target="_blank">
        <img src="/static/a2.png" style="width: 150px"/>
    </a>

    <a href="https://www.vmall.com/product/comdetail/index.html?prdId=10086153236238&sbomCode=2601010565805" target="_blank">
        <img src="/static/a3.png" style="width: 150px"/>
    </a>

</body>
</html>